@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar-container {
  width: 250px;
  background-color: #37146b;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  overflow-y: auto;

}
